{% extends 'layout.html' %}

{% block content %}
    <div class="flex justify-center flex-col lg:flex-row items-center">
        <div class="w-full lg:w-[50%]">
            {% load static %}
            <img src="{% static 'img/Enthusiastic-cuate.svg' %}" alt="" class="w-[95%]">
        </div>
        <div class="w-full lg:w-[50%]">
            <div class="p-3 md:p-10">
                <h1 class="text-4xl italic font-bold mb-4">Rekomendation App</h1>
                <p class="mb-3">
                    Aplikasi rekomendasi yang memanfaatkan metode klasisifikasi dengan algoritma Decision Tree. 
                </p>
                <p class="mb-3">
                    Recomendation App ini diperuntukan untuk membantu BKK SMK dalam menentukan rekomendasi perusahaan yang sesuai dengan kompetensi siswa-siswinya.
                </p>
            </div>
        </div>
    </div>
{% endblock %}