<div id="accordion-panduan" data-accordion="collapse">
    <h2 id="accordion-panduan-heading-1">
        <button type="button"
            class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 hover:bg-gray-100"
            data-accordion-target="#accordion-panduan-body-1" aria-expanded="false"
            aria-controls="accordion-panduan-body-1">
            <span class="flex items-center"><svg class="w-5 h-5 mr-2 shrink-0" fill="currentColor"
                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                        clip-rule="evenodd"></path>
                </svg> Apa itu <span class="text-primary font-bold mx-1">RECAPP</span> ?</span>
            <svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0" fill="currentColor"
                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
            </svg>
        </button>
    </h2>
    <div id="accordion-panduan-body-1" class="hidden" aria-labelledby="accordion-panduan-heading-1">
        <div class="p-5 font-light border border-b-0 border-gray-200">
            <p class="mb-2 text-gray-500">
                <span class="font-bold text-primary">RECAPP</span> atau <span class="font-bold">Recomendation App</span> adalah aplikasi yang dapat memberikan rekomendasi yang memanfaatkan data dari algoritma data mining. 
            </p>
            <p class="mb-2 text-gray-500">
                Aplikasi ini dapat memberikan rekomendasi berdasarkan data yang telah diinputkan oleh pengguna, data yang digunakan memiliki format dan struktur data yang sudah ditentukan.    
            </p>
            <p class="mb-2 text-gray-500">
                Aplikasi ini memanfaatkan algoritma data mining yaitu Decision Tree, dimana algoritma ini dapat memprediksi data yang belum diketahui dengan menggunakan data yang sudah diketahui.    
            </p>
        </div>
    </div>
    <h2 id="accordion-panduan-heading-2">
        <button type="button"
            class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 hover:bg-gray-100"
            data-accordion-target="#accordion-panduan-body-2" aria-expanded="false"
            aria-controls="accordion-panduan-body-2">
            <span class="flex items-center"><svg class="w-5 h-5 mr-2 shrink-0" fill="currentColor"
                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                        clip-rule="evenodd"></path>
                </svg>Data apa yang dapat dipakai pada aplikasi ini ?</span>
            <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
            </svg>
        </button>
    </h2>
    <div id="accordion-panduan-body-2" class="hidden" aria-labelledby="accordion-panduan-heading-2">
        <div class="p-5 font-light border border-b-0 border-gray-200">
            <p class="mb-2 text-gray-500">
                Untuk menggunakan aplikasi ini tidak diharuskan untuk menggunakan data rekomendasi perusahaan, namun data yang lain juga dapat digunakan, asalkan data tersebut memiliki format dan struktur data yang sudah ditentukan.
            </p>
            <p class="mb-2 text-gray-500">
                Data yang dapat bisa berupa sebagai berikut :
                <ul class="list-disc text-gray-500 pl-7">
                    <li>Data lulusan yang bekerja disuatu perusahaan.</li>
                    <li>Data lulusan yang melanjutkan ke pendidikan tinggi.</li>
                </ul>
                <span class="text-gray-500">dan data lain yang memiliki format dan struktur data yang sudah ditentukan.</span>
            </p>
        </div>
    </div>
    <h2 id="accordion-panduan-heading-3">
        <button type="button"
            class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 hover:bg-gray-100"
            data-accordion-target="#accordion-panduan-body-3" aria-expanded="false"
            aria-controls="accordion-panduan-body-3">
            <span class="flex items-center"><svg class="w-5 h-5 mr-2 shrink-0" fill="currentColor"
                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                        clip-rule="evenodd"></path>
                </svg> Apakah RECAPP dapat digunakan dalam memprediksikan data selain perusahaan?</span>
            <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
            </svg>
        </button>
    </h2>
    <div id="accordion-panduan-body-3" class="hidden" aria-labelledby="accordion-panduan-heading-3">
        <div class="p-5 font-light border border-t-0 border-gray-200">
            <p class="mb-2 text-gray-500">
                Seperti pada point sebelumnya, aplikasi ini dapat digunakan untuk memprediksi data selain perusahaan, asalkan data tersebut memiliki format dan struktur data yang sudah ditentukan.
            </p>
        </div>
    </div>
</div>